# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Cache & temporary files
*.pyc
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Logs
*.log
